.shop-wrapper {
  padding: 120px 0 60px 0;
}

.shop-wrapper .single-product {
  margin-bottom: 60px;
  padding-bottom: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.13);
}

.shop-wrapper .single-product figure {
  position: relative;
  overflow: hidden;
}

.shop-wrapper .single-product figure figcaption {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  bottom: -100%;
  background: rgba(239, 73, 77, 0.9);
  transition: 0.5s ease;
  opacity: 0;
  visibility: hidden;
}

.shop-wrapper .single-product figure figcaption div {
  position: absolute;
  width: 100%;
  left: 0;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  padding: 15px;
}

.shop-wrapper .single-product figure figcaption div p {
  color: #fff;
}

.shop-wrapper .single-product figure figcaption div a {
  display: block;
  padding: 10px;
  margin-bottom: 10px;
  background: #fff;
  color: #ef494d;
  border-radius: 3px;
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
}

.shop-wrapper .single-product figure figcaption div a:last-child {
  margin-bottom: 0;
}

.shop-wrapper .single-product figure figcaption div a:hover {
  background: #333;
  color: #fff;
}

.shop-wrapper .single-product:hover figure figcaption {
  visibility: visible;
  opacity: 1;
  bottom: 0;
}

.shop-wrapper .single-product .product-meta {
  margin-top: 15px;
}

.shop-wrapper .single-product .product-meta span {
  display: block;
  font-size: 25px;
  color: #ef494d;
  text-align: center;
}

.shop-wrapper .single-product .product-meta h3 {
  margin: 10px 0 0 0;
  font-weight: 300;
  text-align: center;
  font-size: 18px;
}

.shop-wrapper .single-product .product-meta h3 a {
  color: inherit;
}

.shop-wrapper .single-product .product-meta h3 a:hover {
  color: #ef494d;
}

.shop-wrapper .shop-pagination {
  margin-top: 30px;
}

.shop-wrapper .shop-pagination ul {
  border-bottom: 1px solid rgba(0, 0, 0, 0.04);
  border-top: 1px solid rgba(0, 0, 0, 0.04);
  margin-bottom: 0;
  padding: 10px 0;
  text-align: center;
}

.shop-wrapper .shop-pagination ul li {
  display: inline-block;
}

.shop-wrapper .shop-pagination ul li a {
  background: none;
  font-weight: 500;
  display: block;
  padding: 10px 15px;
  color: #727272;
}

.shop-wrapper .shop-pagination ul li a:hover {
  background: #ef494d;
  color: #fff;
}

.shop-wrapper .shop-pagination ul li.active a {
  background: #ef494d;
  color: #fff;
}
