<div>
  <!-- Header -->
  <header id="home">
    <nav class="navbar navbar-default" id="main-nav">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-morki">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#">Morki</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-morki">
              <ul class="nav navbar-nav navbar-right">
                <li class="active"><a href="#home">Home</a></li>
                <li><a href="#home-demos">Demos</a></li>
                <li><a href="#addfeatures">Features</a></li>
                <li><a href="#theme-support">Support & Update</a></li>

                <li class="nav-download-btn"><a href="https://wrapbootstrap.com/theme/morki-premium-app-landing-template-WB0759543" target="_blank">Buy Now</a></li>
              </ul>
            </div><!-- .navbar-collapse -->
          </div>
        </div>
      </div>
    </nav>
  </header><!-- Ends: header -->

  <!-- Intro Section -->
  <section class="intro intro-demo">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 intro-info">
          <div class="intro-info-content">
            <h1>Morki - Premium App Landing Template</h1>
            <ul class="list-unstyled">
              <li><a href="https://wrapbootstrap.com/theme/morki-premium-app-landing-template-WB0759543" target="_blank">Purchase Now</a></li>
              <li><a href="#home-demos">View Demo</a></li>
            </ul>
          </div>
        </div><!-- Ends: .intro-info -->
      </div>
    </div>
  </section><!-- Ends: .intro -->


  <section class="home-demos" id="home-demos">
    <div class="container">
      <div class="row">
        <div class="cols-m-12 demo-header">
          <h2>Landing page demo</h2>
          <p>Morki has 3 different Home page, 12 Colors and other pages</p>
        </div>

        <div class="col-sm-12 demo-wrapper">
          <div class="row">
            <div class="col-sm-6 demo-single">
              <figure>
                <img src="@/assets/images/home01.png" alt="" class="img-responsive">
                <figcaption>
                  <a href="index-01.html" target="_blank">View Demo</a>
                </figcaption>
              </figure>
              <h3>Home 01</h3>
            </div>
            <div class="col-sm-6 demo-single">
              <figure>
                <img src="/assets/images/home02.png" alt="" class="img-responsive">
                <figcaption>
                  <a href="index-02.html" target="_blank">View Demo</a>
                </figcaption>
              </figure>
              <h3>Home 02</h3>
            </div>
            <div class="col-sm-6 demo-single">
              <figure>
                <img src="/assets/images/home03.png" alt="" class="img-responsive">
                <figcaption>
                  <a href="index-03.html" target="_blank">View Demo</a>
                </figcaption>
              </figure>
              <h3>Home 03</h3>
            </div>
            <div class="col-sm-6 demo-single">
              <figure>
                <img src="/assets/images/home04.png" alt="" class="img-responsive">
                <figcaption>
                  <a href="index-04.html" target="_blank">View Demo</a>
                </figcaption>
              </figure>
              <h3>Home 04</h3>
            </div>
          </div>
        </div>

        <div class="col-sm-12 demo-multipage">
          <div class="demo-header">
            <h2>Multipage Demo</h2>
          </div>
          <figure>
            <img src="/assets/images/home-mp.png" alt="" class="img-responsive">
            <figcaption>
              <a href="home-multipage.html" target="_blank">View Demo</a>
            </figcaption>
          </figure>
          <h3>Multipage Demo</h3>
        </div>
      </div>
    </div>
  </section>


  <section class="shop-demos">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 demo-header">
          <h2>Shop Pages</h2>
          <p>Shop contains three different style and details page</p>
        </div>

        <div class="col-sm-12 demo-wrapper">
          <div class="row">
            <div class="col-sm-4 demo-single">
              <figure>
                <img src="/assets/images/shop-fw.png" alt="" class="img-responsive">
                <figcaption>
                  <a href="shop-full-width.html" target="_blank">View Demo</a>
                </figcaption>
              </figure>
              <h3>Shop Full Width</h3>
            </div>
            <div class="col-sm-4 demo-single">
              <figure>
                <img src="/assets/images/shop-ls.png" alt="" class="img-responsive">
                <figcaption>
                  <a href="shop-left-sidebar.html" target="_blank">View Demo</a>
                </figcaption>
              </figure>
              <h3>Shop Left Sidebar</h3>
            </div>
            <div class="col-sm-4 demo-single">
              <figure>
                <img src="/assets/images/shop-rs.png" alt="" class="img-responsive">
                <figcaption>
                  <a href="shop-right-sidebar.html" target="_blank">View Demo</a>
                </figcaption>
              </figure>
              <h3>Shop Right Sidebar</h3>
            </div>
            <div class="col-sm-4 col-sm-offset-4 demo-single">
              <figure>
                <img src="/assets/images/product-details.png" alt="" class="img-responsive">
                <figcaption>
                  <a href="shop-single.html" target="_blank">View Demo</a>
                </figcaption>
              </figure>
              <h3>Shop details</h3>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>


  <section class="gallery-demos">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 demo-header">
          <h2>Gallery pages</h2>
          <p>Gallery contains three different Layouts</p>
        </div>

        <div class="col-sm-12 demo-wrapper">
          <div class="row">
            <div class="col-sm-4 demo-single">
              <figure>
                <img src="/assets/images/gallery2c.png" alt="" class="img-responsive">
                <figcaption>
                  <a href="gallery-two-column.html" target="_blank">View Demo</a>
                </figcaption>
              </figure>
              <h3>Gallery Two Column</h3>
            </div>
            <div class="col-sm-4 demo-single">
              <figure>
                <img src="/assets/images/gallery3c.png" alt="" class="img-responsive">
                <figcaption>
                  <a href="gallery-three-column.html" target="_blank">View Demo</a>
                </figcaption>
              </figure>
              <h3>Gallery Three Column</h3>
            </div>
            <div class="col-sm-4 demo-single">
              <figure>
                <img src="/assets/images/gallery4c.png" alt="" class="img-responsive">
                <figcaption>
                  <a href="gallery-four-column.html" target="_blank">View Demo</a>
                </figcaption>
              </figure>
              <h3>Gallery Four Column</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


  <section class="blog-demos">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 demo-header">
          <h2>Blog Pages</h2>
          <p>Blog contains three different layout style and blog details page</p>
        </div>

        <div class="col-sm-12 demo-wrapper">
          <div class="row">
            <div class="col-sm-4 demo-single">
              <figure>
                <img src="/assets/images/blog-fw.png" alt="" class="img-responsive">
                <figcaption>
                  <a href="blog-full-width.html" target="_blank">View Demo</a>
                </figcaption>
              </figure>
              <h3>Blog Full Width</h3>
            </div>
            <div class="col-sm-4 demo-single">
              <figure>
                <img src="/assets/images/blog-rs.png" alt="" class="img-responsive">
                <figcaption>
                  <a href="blog-right-sidebar.html" target="_blank">View Demo</a>
                </figcaption>
              </figure>
              <h3>Blog Right Sidebar</h3>
            </div>
            <div class="col-sm-4 demo-single">
              <figure>
                <img src="/assets/images/blog-ls.png" alt="" class="img-responsive">
                <figcaption>
                  <a href="blog-left-sidebar.html" target="_blank">View Demo</a>
                </figcaption>
              </figure>
              <h3>Blog Left Sidebar</h3>
            </div>
            <div class="col-sm-4 col-sm-offset-4 demo-single">
              <figure>
                <img src="/assets/images/blog-details.png" alt="" class="img-responsive">
                <figcaption>
                  <a href="blog-details.html" target="_blank">View Demo</a>
                </figcaption>
              </figure>
              <h3>Blog Details</h3>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>


  <section class="other-demos">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 demo-header">
          <h2>Other Pages</h2>
          <p>View other extra pages with unique looks and design</p>
        </div>

        <div class="col-sm-12 demo-wrapper">
          <div class="row">
            <div class="col-sm-4 demo-single">
              <figure>
                <img src="/assets/images/about.png" alt="" class="img-responsive">
                <figcaption>
                  <a href="about.html" target="_blank">View Demo</a>
                </figcaption>
              </figure>
              <h3>About Page</h3>
            </div>
            <div class="col-sm-4 demo-single">
              <figure>
                <img src="/assets/images/coming-soon.png" alt="" class="img-responsive">
                <figcaption>
                  <a href="coming-soon.html" target="_blank">View Demo</a>
                </figcaption>
              </figure>
              <h3>Coming Soon Page</h3>
            </div>
            <div class="col-sm-4 demo-single">
              <figure>
                <img src="/assets/images/contact.png" alt="" class="img-responsive">
                <figcaption>
                  <a href="contact.html" target="_blank">View Demo</a>
                </figcaption>
              </figure>
              <h3>Contact Page</h3>
            </div>
            <div class="col-sm-4 demo-single">
              <figure>
                <img src="/assets/images/team.png" alt="" class="img-responsive">
                <figcaption>
                  <a href="team.html" target="_blank">View Demo</a>
                </figcaption>
              </figure>
              <h3>Team Page</h3>
            </div>
            <div class="col-sm-4 demo-single">
              <figure>
                <img src="/assets/images/price-tables.png" alt="" class="img-responsive">
                <figcaption>
                  <a href="pricing-table.html" target="_blank">View Demo</a>
                </figcaption>
              </figure>
              <h3>Pricing Tables</h3>
            </div>
          </div>
        </div>


      </div>
    </div>
  </section>


  <section class="additional-features" id="addfeatures">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 demo-header">
          <h2>Additional Features</h2>
        </div>

        <div class="col-sm-12 adfeature-boxes">
          <div class="row">
            <div class="col-sm-3">
              <span><i class="fa fa-paint-brush"></i></span>
              <h3>12 Different Colors</h3>
            </div>
            <div class="col-sm-3">
              <span><i class="fa fa-rocket"></i></span>
              <h3>Speed Optimized</h3>
            </div>
            <div class="col-sm-3">
              <span><i class="fa fa-desktop"></i></span>
              <h3>Fully Responsive</h3>
            </div>
            <div class="col-sm-3">
              <span><i class="fa fa-sliders"></i></span>
              <h3>Seo Optimized</h3>
            </div>
            <div class="col-sm-3">
              <span><i class="fa fa-code"></i></span>
              <h3>Clean Code</h3>
            </div>
            <div class="col-sm-3">
              <span><i class="fa fa-dollar"></i></span>
              <h3>Conversion Optimized</h3>
            </div>
            <div class="col-sm-3">
              <span><i class="fa fa-envelope-o"></i></span>
              <h3>Ajax Contact Form</h3>
            </div>
            <div class="col-sm-3">
              <span><i class="fa fa-cogs"></i></span>
              <h3>Free Updates & Supports</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


  <section class="theme-support" id="theme-support">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <img src="/assets/images/support2.png" alt="">
          <h2>Dedicated Support & Updates</h2>
          <p>Join the conversation on Support to find solutions, <br />ask questions, and share your ideas.</p>
          <span><a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="295a41484440444c4f465b4b694e44484045074a4644">[email&#160;protected]</a></span>
        </div>
      </div>
    </div>
  </section>

  <section class="bottom-cta">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <h2>Get Morki & Kick Start Your Project!</h2>
          <p>Get all demos. Premium plugins for free. Free lifetime updates.</p>
          <a href="https://wrapbootstrap.com/theme/morki-premium-app-landing-template-WB0759543" target="_blank">Purchase Now</a>
        </div>
      </div>
    </div>
  </section>
</div>

<!--
font Lato:300,400,700,900
font Montserrat:300,400,500,600,700
style css/bootstrap.min.css
style css/font-awesome.min.css
style css/normalize.css
style css/style.css
style demo/demo.css
style css/responsive.css
script js/vendor/modernizr-2.8.3
-->

<!--
script email-decode.min
script js/jquery-1.12.0.min
script js/bootstrap.min
script js/jquery.sticky
script js/smooth-scroll
script js/plugins
script js/custom
-->
